@font-face {
   font-family: 'easvhs';
   src: url('fonts/easvhs.ttf') format(truetype);
}

root {
   display: block;
   margin: 0;
   padding: 0;
   height: auto;
   width: 100%;
   margin: 0;
}

body {
   margin: 0;
   padding: 0;
   -webkit-app-region: drag;
   background-color: darkgray;
   font-family: 'easvhs';
   font-size: small;
}

.indPlayer p {
   display: block;
   float: left;
   margin: 0;
   width: 100%;
   font-size: .7rem;
   background-color: #282828b5;
}
.indPlayer p:last-child {
   border-radius: 4px;
 }
.inPlayerName {
   display: block;
   width: auto;
   float: left;
   padding: 2px 5px;
}
.inPlayerScore{
   display: block;
   float: right;
   padding: 2px 5px;
   position: relative;
}
.indPlayer p:nth-child(even) {
   background-color: #2e2e2e8c;
}

.indPlayer {
   display: block;
   clear: both;
   float: left;
   width: 100%;
}

.modalPlayers {
   background-color: crimson;
   color: white;
   position: absolute;
   z-index: 9999;
   display: block;
}
.serverGameTime {
   display: block;
   position: absolute;
   float: left;
   width: 100px;
   height: 15px;
   background: crimson;
   top: 64px;
   margin-left: 50%;
   text-transform: lowercase;
   text-align: center;
   line-height: 15px;
   border-radius: 20px;
   font-size: .8em;
   left: -50px;
}
.serverPlayers {
   display: block;
   position: absolute;
   width: 40px;
   text-align: center;
   background-color: #527817b3;
   top: 0;
   height: 17px;
   left: -20px;
   top: 5px;
   line-height: 20px;
   border-radius: 5px;
   margin-left: 50%;
   border: 1px solid #0e280ed6;
}

.serverPlayersContainer {
   display: block;
   background: #1b2424;
   width: 100%;
   overflow: hidden;
   height: 100%;
   border-radius: 0px 0px 5px 5px;
   float: left;
   position: relative;
}
.bar-container {
   display: block;
   height: auto;
   width: 100%;
   padding-left: 1%;
   padding: 10px 0;
   position: fixed;
   z-index: 888;
}

.modal_container {
   display: none;
   background-color: #0000009c;
   width: 100%;
   height: 100%;
   position: absolute;
   margin: 0;
   opacity: 0.9;
   z-index: 9999;
   padding: 0;
}

.modal_win {
   display: flex;
   width: 100%;
   height: 100%;
   background-color: aliceblue;
}

.appServerList {
   display: block;
   float: left;
   padding-top: 40px;
}

.server-card {
   color: white;
   border-radius: 5px;
   overflow: hidden;
   margin: 2%;
   /* float: left; */
   padding: 0px;
   position: relative;
   /* height: auto; */
   /* padding-bottom: 15px; */
}

.server-card-bg {
   width: 100%;
   height: 150px;
   /* position: relative; */
   font-size: small;
   display: block;
   float: left;
   background: blueviolet;
}

.server-card-bg img {
   width: 100%;
   object-fit: cover;
   min-height: 150px;
   height: 100%;
   display: block;
   background-color: #340d0d;
   float: left;
}

.serverName {
   background-color: #00000070;
   font-size: 10px;
   height: auto;
   width: 100%;
   display: block;
   position: absolute;
   float: left;
   text-align: center;
   top: 35px;
   padding: 5px 0px;
}

.serverPing {
   display: block;
   position: absolute;
   top: 0;
   background-color: crimson;
   padding: 0px 10px;
   right: 0;
   height: 25px;
   line-height: 25px;
   border-radius: 0 0 0 3px;
}

.serverMap {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   background-color: crimson;
   padding: 0 10px;
   border-radius: 0 0 3px;
   height: 25px;
   line-height: 25px;
   text-align: center;
   text-transform: uppercase;
}

.progress_Bar {
   display: block;
   width: 100%;
   height: 20px;
   background-color: bisque;
   position: fixed;
   bottom: 0;
   padding: 0;
   cursor: pointer;
}

.progress_bar_percentage {
   display: none;
   width: 0%;
   height: auto;
   float: left;
   background-color: #527817;
   margin: 0;
   padding: 0;
   position: relative;
   bottom: 0;
}

.progress_text {
   text-align: center;
   display: block;
   width: 100%;
   color: white;
   padding: 5px 0px;
   text-transform: uppercase;
}

/* width */
::-webkit-scrollbar {
   width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}

button {
   display: block;
   -webkit-app-region: no-drag;
   float: left;
}

.progress-bar-holder {
   display: block;
   width: 300px;
   border-radius: 10px;
   overflow: hidden;
   position: fixed;
   left: 50%;
   margin-left: -150px;
   bottom: 10px;
}